body {
  background-color: $body-color;
  font-family: "Tenor Sans", sans-serif;
  overflow-x: hidden;
}

// ----------------------------------tea page----------------------------------
// header
header.tea_page_hdr {
  text-align: center;
  .logo {
    width: max-content;
    margin: 18px 0;
  }
}

// banner
.tea_banner {
  min-height: 1080px;
  background-image: url(../images/tea_banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 266px 0 192px;

  @include respond-below(xs) {
    min-height: 100%;
  }
  @include respond-below(xxxxxs) {
    padding: 192px 0 192px;
  }
  .bnnr_intro {
    max-width: 853px;
    padding: 100px 170px 66px 205px;
    background-color: rgba(255, 255, 255, 0.4901960784);
    margin-left: -113px;
    @include respond-below(xs) {
      padding: 20px;
      margin-left: 0;
      max-width: 100%;
    }
  }
}

// about
.about_wrp {
  min-height: 730px;
  display: flex;
  @include respond-below(xsm) {
    flex-direction: column;
    min-height: unset;
  }

  .about_left {
    @include half-box;
    background-color: $fourth-color;
    justify-content: flex-end;
    @include respond-below(xxxxxs) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @at-root {
      .al_content {
        max-width: 500px;
        margin-right: 154px;
        h2 {
          margin-bottom: 60px;
          @include respond-below(xs) {
            margin-bottom: 30px;
          }
        }
        p {
          margin-bottom: 30px;
        }

        @include respond-below(lg) {
          margin: 0 auto;
        }
      }
    }
  }

  .about_right {
    @include half-box;
    background-color: $body-color;
    justify-content: flex-start;
    @include respond-below(xsm) {
      margin: 0 auto;
    }
    @include respond-below(xxxxxs) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .al_content {
      margin-left: 77px;
      width: 50%;
      @include respond-below(xsm) {
        margin: 0 auto;
        width: 100%;
      }
      h5 {
        font-size: 30px;
        .diff_txt {
          font-size: 60px;
        }

        .spl_para {
          color: $secondary-color;
        }
      }

      @at-root {
        ul.about-listing {
          margin-top: 25px;
          li {
            position: relative;
            margin-bottom: 46px;
            padding-left: 35px;
            @include respond-below(xs) {
              margin-bottom: 25px;
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 7px;
              background-image: url(../images/flower.svg);
              width: 15px;
              height: 15px;
            }
            span {
              font-size: 22px;
              line-height: 30px;
              display: block;
              color: $secondary-color;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

// product section
.product {
  padding: 118px 0 50px 0;
  @include respond-below(xsm) {
    padding: 50px 0;
  }
  @include respond-below(xxxxxs) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @at-root {
    .pdct_head {
      text-align: center;
      max-width: 800px;
      margin: 0 auto;

      .head_flower {
        width: 30px;
        margin: 0 auto 40px auto;
      }

      h2 {
        padding: 0 72px;
        @include respond-below(xs) {
          padding: 0;
        }
      }

      p {
        margin-top: 50px;
        @include respond-below(xs) {
          margin-top: 15px;
        }
      }
    }
  }

  .pdct_itm {
    display: flex;
    align-items: center;
    margin-top: 70px;
    &:nth-child(even) {
      flex-direction: row-reverse;

      .itm-content {
        justify-content: flex-end;
        @include respond-below(xsm) {
          justify-content: center;
        }
      }

      @include respond-below(xsm) {
        flex-direction: column;
      }
    }

    @include respond-below(xsm) {
      flex-direction: column;
    }
    .itm-img {
      @include half-box;
      padding: 0 80px 0 0;
      justify-content: flex-end;
      @include respond-below(xsm) {
        padding: 30px 0 0 0;
      }
      @include respond-below(xsm) {
        justify-content: center;
      }
    }
    .itm-content {
      @include half-box;
      padding: unset;

      @include respond-below(xsm) {
        max-width: unset;
        width: 100%;
        justify-content: center;
      }
      .inner-itm-content {
        max-width: 625px;

        h5 {
          margin-bottom: 45px;
          position: relative;
          width: max-content;
          padding: 0 10px;

          @include respond-below(xsm) {
            width: auto;
          }
          @include respond-below(xxxxxs) {
            margin-bottom: 25px;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
            height: 18px;
            background-color: $fourth-color;
            z-index: -1;
            @include respond-below(xsm) {
              bottom: 3px;
            }
          }
        }
      }
    }

    @include respond-below(xsm) {
      flex-direction: column;
      justify-content: center;
    }
  }
}

// blooming section
.blooming {
  padding: 102px 0;
  background-color: $fourth-color;
  @include respond-below(xsm) {
    padding: 50px 0;
  }
  @include respond-below(xxxxxs) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pdct_head {
    max-width: 1000px;
    .head_flower {
      width: auto;
    }
    h2 {
      color: $secondary-color;
    }
    h5 {
      color: $secondary-color;
    }
  }

  ul.cup_wrp {
    max-width: 1060px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    @include respond-below(xsm) {
      flex-direction: column;
      align-items: center;
      max-width: unset;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-below(xsm) {
        flex-direction: column;
      }
      &::before {
        content: "";
        width: 96px;
        height: 1px;
        background-color: $third-color;
        @include respond-below(xsm) {
          width: 2px;
          height: 60px;
        }
      }

      &:nth-child(1) {
        &::before {
          display: none;
        }
      }
    }
  }

  ul.about-listing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: 0 auto;
    counter-reset: li;

    @include respond-below(xsm) {
      flex-direction: column;
    }
    li {
      flex: 0 0 50%;
      &::before {
        counter-increment: li;
        content: counter(li) ". ";
        background-image: unset;
        width: unset;
        height: unset;
        top: -2px;
        color: #dbc7b1;
      }
    }
  }
}

// erotic sea section
.erotic {
  @include respond-below(xxxxxs) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    .erotic_inner {
      display: flex;
      @include respond-below(xsm) {
        flex-direction: column-reverse;
      }
      .el-left {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 100px 0;
        @include respond-below(xsm) {
          width: 100%;
        }
        @include respond-below(xs) {
          padding: 50px 0;
        }
        .al_content {
          text-align: center;
          max-width: 565px;
          .el_img {
            margin-bottom: 60px;
            @include respond-below(xs) {
              margin-bottom: 25px;
            }
          }

          p {
            margin-bottom: 42px;
            @include respond-below(xs) {
              margin-bottom: 25px;
            }
          }
        }
      }

      .er_right {
        width: 50%;
        @include respond-below(xsm) {
          width: 100%;
        }
        .er_right_img {
          margin-right: -112px;
          height: 100%;

          img {
            height: 100%;
            object-fit: cover;
          }

          @include respond-below(xxl) {
            margin-right: 0;
          }
        }
      }
    }

    @include respond-below(mm) {
      max-width: 1700px;
    }
  }
}

//// ----------------------------------home page----------------------------------
// header
.home-header {
  position: absolute;
  top: 0;
  padding: 15px 0;
  z-index: 10;
  .header-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      .nav-wrapper {
        display: flex;
        gap: 30px;
        align-items: center;
        a {
          @include paragraph;
          color: $body-color;
        }
      }
      .home-logo {
        margin-left: 160px;
      }
    }

    .type_one {
      height: 44px;
      min-width: 114px;
    }
  }
}

// banner
.home-banner {
  background-image: url(../images/home-banner-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 276px 0 211px;
  position: relative;
  .home-banner-content {
    text-align: center;
    .banner-logo {
      margin-bottom: 223px;
    }
    p {
      color: $body-color;
    }
  }
}

// booking section
.input-area-wrapper {
  padding: 69px 0;
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .booking-meta {
    min-width: 423px;
    height: 41px;
    appearance: none;
    border: none;
    border-bottom: 1px solid #000;
    padding-right: 30px;
    background-image: url(../images/dot.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right 15px;
    option {
      color: $primary-color;
    }
  }
}
.beach_img {
  margin: 0 auto;
  max-width: 1920px;
}

// booking section end

// journey section
.journey {
  padding-top: 60px;
  .pdct_head {
    .head_flower {
      width: 90px;
    }
    h2 {
      color: $secondary-color;
    }
  }

  .boutiqua_wrp {
    max-width: 1303px;
    margin: 0 auto;
    .boutiqua_top {
      display: flex;
      justify-content: space-between;
      margin-top: 65px;
      .bt-lft {
        flex: 0 0 auto;
        max-width: 701px;
        .boutiq_img {
          margin-top: 20px;
        }
      }

      .bt-right {
        flex: 0 0 auto;
        max-width: 531px;
      }
    }
    .boutiqua_slider {
      .wrapper {
        margin: 90px auto;
        .slider-container {
          position: relative;
          width: 100%;
          .item {
            outline: none;
            position: relative;
            width: 100%;
            .slide-content {
              margin-top: 104px;
              max-width: 682px;
              h5 {
                color: $secondary-color;
              }
              @at-root {
                .para_underline {
                  @include paragraph;
                  margin-top: 39px;
                  position: relative;
                  width: max-content;
                  padding: 0 10px 0 5px;
                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 4px;
                    width: 100%;
                    height: 10px;
                    background-color: $fourth-color;
                    z-index: -1;
                  }
                }
              }
            }
          }

          .slides-numbers {
            color: #d4bea6;
            display: none;
            font-size: 20px;
            font-weight: 300;
            left: 0;
            position: absolute;
            bottom: 20%;
            font-size: 30px;
            .active {
              color: $secondary-color;
              margin-right: -6px;
            }
            .total {
              margin-left: -5px;
            }
          }
        }

        .slick-arrow {
          padding: 0;
          border: 0;
          outline: none;
          position: absolute;
          bottom: 20%;
          z-index: 5;
          cursor: pointer;
          right: 0;
        }
        .slick-arrow.next {
          right: 80px;
          &::before {
            content: "";
            width: 1px;
            height: 50px;
            background-color: #4d4d4d7f;
            position: absolute;
            top: 50%;
            right: -23px;
            transform: translateY(-50%);
          }
        }
        .slick-arrow.prev {
          right: 0px;
          transform: rotate(180deg) translateY(4px);
        }
      }
    }
  }
}

// journey section end

// location gallery sec
.loc-gallery {
  position: relative;
  padding-bottom: 100px;
  .main-gallery-wrp {
    display: flex;
    justify-content: space-between;
    max-width: 1462px;
    margin: 0 auto;
    // gap: 200px;
    .loc-gallery-wrapper {
      flex: 0 0 61%;
      padding-right: 200px;
      .gallery-main-wrp {
        .gallery-img {
          margin-left: -228px;
        }
        p {
          margin: 109px 0 82px;
          text-align: right;
        }
      }

      .sub-gallery-wrp {
        display: flex;
        text-align: right;
        justify-content: flex-end;
        align-items: center;
        .sub-gallery-content {
          flex: 0 0 auto;
          max-width: 273px;
          padding-right: 10px;
        }
        .sub-gallery-image {
          flex: 0 0 auto;
        }
      }

      &:nth-child(even) {
        flex: 0 0 39%;
        padding-right: 0;
        h5 {
          margin-top: 40px;
        }
        .para_underline {
          margin-top: 32px;
        }
        .gallery-img {
          margin-left: 0px;
        }

        .sub-gallery-wrp {
          justify-content: flex-start;
          text-align: left;
          margin: 87px 0 241px;
          .sub-gallery-content {
            max-width: 480px;
          }
        }
      }
    }
  }
}

// location gallery sec end

// relaxation sec
.relax {
  min-height: 1080px;
  background-image: url(../images/relax-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .relax-cont {
    text-align: center;
    padding: 450px 0;
    h2 {
      color: $body-color;
      text-transform: uppercase;
      margin: 17px 0 20px;
      letter-spacing: 5px;
    }
    h5 {
      color: $body-color;
    }
    .para_underline {
      margin: 0 auto;
      z-index: 2;
      color: $body-color;
      &::before {
        z-index: -1;
        background-color: $primary-color;
      }
    }
  }
}

// relaxation sec end

// quot sec
.quot {
  background-image: url(../images/quot-bg.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 88px 0 197px 0;
  background-repeat: no-repeat;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000001a;
    z-index: 0;
  }
  .quot-content {
    text-align: center;
    position: relative;
    z-index: 1;
    .qmark img {
      filter: opacity(0.1) brightness(0);
    }
    h2 {
      color: #89725d;
      max-width: 860px;
      margin: 30px auto 0;
    }
  }
}

// quot sec end
